<div class="row section topspace">
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                <p>I'm actively looking for full-time positions starting from December 2019.<br> Please contact me!</p>
            </div>
            <div class="col-lg-4 text-right">
                <a href="https://drive.google.com/file/d/1YyJNN1MkXVD1_Fy0rO2y4mxBHCHEt3zD/view?usp=sharing" class="btn btn-primary btn-lg">View my resume</a>
            </div>
        </div>
    </div>
</div> <!-- /section -->

