<div class="row section featured topspace">

    <h2 class="section-title"><span>Education</span></h2>

    <div class="col-md-12">
        <p>
           <ul style="list-style-type:circle;">
              <font size="3">
              <li>2018.08 - 2019.12, <a href='https://www.cmu.edu/'>Carnegie Mellon University</a> (expected), Robotics Insitute, School of Computer Science</li>
                  Master of Science in Computer Vision<br>
                  <B>Current QPA</B>: 4.17/4.33<br>
                  Courses: Introduction to Machine Learning; Computer Vision; Math Fundamentals for Robotics; Visual Learning and Recognition; Robot Localization and Mapping 
              </font>
           </ul>
        </p>
        <p>
           <ul style="list-style-type:circle;">
              <font size="3">
              <li>2015.09 - 2018.03, <a href='https://en.gs.sjtu.edu.cn/'>Shanghai Jiao Tong University</a>, Graduate School, School of Electronic Information and Electrical Engineering</li>
                  Master in Information and Communication Engineering<br>
                  <B>Overrall GPA</B>: 4.11/4.3<br>
                  Courses: Graph and Networks; Matrix Theory; Digital Image Processing; Natural Language Processing
              </font>
           </ul>
        </p>
        <p>
           <ul style="list-style-type:circle;">
              <font size="3">
              <li>2011.09 - 2015.06, <a href='http://en.sjtu.edu.cn/'>Shanghai Jiao Tong University</a>, School of Electronic Information and Electrical Engineering</li>
                  Bachelor in Information Security<br>
                  <B>Overall GPA</B>: 88.53/100<br>
                  Courses: Object Oriented Programming; Data Structure and Algorithms; Software Engineering; Computer Organization and Architecture; Course Design on Application Software; Development practice for system software
              </font>
           </ul>
        </p>
    </div>

</div> <!-- / section -->
