<div class="row section featured topspace">

    <h2 class="section-title"><span>Experience</span></h2>

    <div class="col-md-12">
        <p>
          <font size="3">
          2019.05 - 2019.08: <a href="https://www.nvidia.com/en-us/about-nvidia/">NVIDIA Corporation</a> (expected), Santa Clara, CA<br>
          <B>Deep Learning Infrastructure Intern</B><br>
          Work with an AI applied researcher’s team and responsible for developing efficient and well-performed models for autonomous vehicles, in Pytorch.<br>
          Improve the efficiency of model inference as well as training by pruning the neural network during the training process.
          </font>
        </p>
    </div>

   <div class="col-md-12">
        <p>
          <font size="3">
          2018.04 - 2018.07 / 2017.10 - 2018.01: <a href="https://www.clobotics.com/">Clobotics Co., Ltd.</a>, Shanghai, China<br>
          <B>Machine Learning and Computer Vision Enginner</B><br>
          Performed large scale detection and classification of thousands of stock keeping units, in Tensorflow, achieved mid 90% precision/recall for object detection and increased coverage of stock keeping units by mid double digits percent that reached high precision/recall needed for production service level agreement.<br>
          Investigated and implemented strategy of active learning and image retrieval to improve the efficiency of data labeling.<br>
          Designed and developed modules using Python and OpenCV to automatically process turn-table taken images to increase the volume and diversity of training data, to optimize the fine-grained classification with minor size and appearance variation.<br>
          <B>Machine Learning Intern</B><br>
          Designed and implemented algorithm of image stitching for images taken from multiple camera viewpoints and angles with potentially hostile lighting condition to generate a large panoramic image.<br>
          Founding and core contributor of the real time multiple images object detection service with deep learning models and the stitching algorithm.
          </font>
        </p>
    </div>
 
     <div class="col-md-12">
        <p>
          <font size="3">
          2015.09 - 2017.06: <a href="http://icl.sjtu.edu.cn/">Information Cognition Lab</a>, Shanghai Jiao Tong University, Shanghai, China<br>
          <B>Graduate Research Assistant</B><br>
          Worked with Prof. Xinghao Jiang and Dr. Tanfeng Sun, mainly focused on crowd counting estimation and anomaly detection.<br>
          </font>
        </p>
    </div>

    <div class="col-md-12">
        <p>
          <font size="3">
          2014.07 - 2015.02: <a href="https://www.intel.sg/content/www/xa/en/homepage.html?countrylabel=Asia%20Pacific&_ga=2.226156632.354105314.1563673129-1597715636.1563673129">Intel Asia-Pacific Research & Development Ltd.</a>, Shanghai, China<br>
          <B>Software Engineering Intern</B><br>
          Developed distributed framework in Python to have jobs run automatically to test processors, with functions of auto-trigger, job assignment, output files collection, report generation and notification sent by email.<br>
          Contributed to developing encryption module based on AES for android platform attendance system.

          </font>
        </p>
    </div>

</div>
<!-- / section -->
