<div class="row section featured topspace">

    <h2 class="section-title"><span>Projects</span></h2>

    <div class="col-md-12">
        <p>
          <font size="3">
          <B>Open Vision Platform for Smart City Intersections</B><br>
          2019.01 - 2019.05, CMU IMIL lab & Zensors Co., Ltd<br>
          Research on methods to analyze the presence or absence of particular objects, counts of objects, and activities in the outdoor and indoor scenes in the real world, in Pytorch.<br>
          Implemented Occlusion-Net to localize 2D/3D keypoints for vehicles and persons with severe occlusions.<br>
          Developed the architecture for detection model training with partially labeled data, by disabling the RPN generated anchors outside of the labeled region.<br>
          </font>
        </p>

        <p>
          <font size="3">
          <B>Safe City with Intelligent Surveillance Technology</B><br>
          2016.05 - 2016.07, Digital China Group Co., Ltd<br>
          Designed and implemented algorithms using C++ and OpenCV to detect people gathering in public areas by calculating the distribution entropy of crowd, and to detect sudden scattering of a crowd by analyzing the motions.<br>
          Published a patent ‘Group anomaly detection method based on a dense optical flow histogram’ (CN105389567A).<br>
          </font>
        </p>
    </div>
</div>
<!-- / section -->
