<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-muted">
            Hi! I'm currently a <a href='https://www.ri.cmu.edu/education/academic-programs/master-of-science-computer-vision/'>Master of Science in Computer Vision (MSCV)</a> student at <a href='https://www.cmu.edu/'>Carnegie Mellon University</a>. Before my study at CMU, I was a Machine Learning/Computer Vision Engineer at <a href='https://www.clobotics.com/'>Clobotics</a>. I obtained my B.Eng. in Information Security and M.Eng. in Information and Communication Engineering from <a href='http://en.sjtu.edu.cn/'>Shanghai Jiao Tong University</a>, China.
        </p>
        <p class="lead text-muted">
            My interests broadly lie in Computer Vision, Machine Learning and related applications. Currently I'm interning at <a href='https://www.nvidia.com/en-us/about-nvidia/'>NVIDIA</a>, working with <a href='https://rsu.data61.csiro.au/people/jalvarez/'>Jose M. Alvarez</a> on neural network pruning.
        </p>
    </div>
</div> <!-- / section -->
